.jumbotron {
    background-image: url("../../../assets/images/sport.jpg");
    background-size: 1366px;
    width: 1366px;
    height: 700px;
    color: #ffffff;
}

.lead .btn{
    background-color: #030f27;
    color: white;
}

.lead .btn:hover {
    color: #030f27;
    background: #fdbe33;
    border-color: #fdbe33;
}
