<div class="container">
    <div *ngIf="currentProgram" class="row">
        <div class="col-12 col-md-8">
            <img src="../../../assets/images/man-1282232_1280.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-6 col-md-4">
            <h5>Program Details:</h5>
            <div class="stats">
                <ul class="details-list">
                    <li>
                        <span class="details-header">Average Duration: </span>
                        <span class="details-value"> {{currentProgram.averageDuration}} </span>
                    </li>
                    <li>
                        <span class="details-header">Length: </span>
                        <span class="details-value"> {{currentProgram.length}} </span>
                    </li>
                    <li>
                        <span class="details-header">Days Per Week: </span>
                        <span class="details-value"> {{currentProgram.daysPerWeek}} </span>
                    </li>
                    <li>
                        <span class="details-header">Body Focus: </span>
                        <span class="details-value"> {{currentProgram.bodyFocus}} </span>
                    </li>
                </ul>

            </div>
            <div *ngIf="!isFollower" class="col-md-12 text-center">
                    <button type="button" class="btn btn-lg" (click)="followHandler()">Follow</button>
                    
            </div>
            <div *ngIf="isFollower" class="col-md-12 text-center">
                    <button type="button" class="btn btn-lg" (click)="unfollowHandler()">Unfollow</button>
            </div>
            <!-- Show this section if you are Owner -->

            <div *ngIf="isOwner" class="col-md-12 text-center">
                <span>
                    <button routerLink='/programs/edit/{{currentProgram._id}}' type="button"
                        class="btn btn-lg">Edit</button>
                    <span class="p-2"></span>
                    <button type="button" class="btn btn-lg" (click)="deleteHandler()">Delete</button>
                </span>
            </div>
        </div>

        <section id="main-content">
            <div class="container-xl p-3">
                <div class="row">
                    <div class="col-xs-6">
                        <h1>{{currentProgram.title}}
                        </h1>
                        <p id="coach">Coach: <span id="coachName">{{currentProgram.owner.username}}</span></p>
                        <article><span class="tab"></span>{{currentProgram.description}}</article>
                    </div>
                </div>
            </div>
        </section>
    </div>



</div>