.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

h5{
    padding-top: 20px;
    text-align: center;
}

.col-6{
    background-color: #030f27;
    color: white;
    padding: 0;

}
.col-12{
    padding: 0;
}

.stats{
    -webkit-box-flex: 1;
    flex: 1 auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 18px;
    display: -webkit-box;
    display: flex;
    position: relative;
    margin: 50px;
}

.stats, .stats ul, .stats ul li {
    font-size: 14px;
    line-height: 1.8em;
    color: white;
    //list-style-type: "\1F3CB";
    list-style-type: "\27A9";
}

.details-header{
    padding-left: 5px;
    color: #a7aabb;
    font-size: 13px;
}

.details-value{
    font-weight: bold;
    font-weight: 600;
}

.col-md-12{
padding-top: 100px;

}


.btn{
    padding: 12px 28px 10px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    border-radius: 4px;
    border: 1px solid #f0f4f6;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin:0;
    border-color: transparent;
    position: relative;
    background-color:#4296cb;

}
.btn:hover{
    background-color:  #fdbe33;
}


#coach{
    font-size: 13px;
    font-weight: 400;
}

#coachName{
    font-size: 16px;
    font-weight: 600;
}

.tab{
    display:inline-block;
    margin-left: 30px;
}

//comments css

.comment {
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment h4,
.comment span,
.darker span {
    display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
    color: rgb(16, 46, 46, 1)
  
}
.comment p{
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.comment span{
    font-size: 13px;
    font-weight: 400;
}

label {
    color: rgb(212, 208, 208)
}

fa-icon:hover{
    cursor: pointer;
}


