<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <img src="../../../assets/images/man-1282232_1280.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-6 col-md-4">
            <h5>Program Details:</h5>
            <div class="stats">
                <ul class="details-list">
                    <li>
                        <span class="details-header">Average Duration: </span>
                        <span class="details-value"> Value </span>
                    </li>
                    <li>
                        <span class="details-header">Length: </span>
                        <span class="details-value"> Value </span>
                    </li>
                    <li>
                        <span class="details-header">Days Per Week: </span>
                        <span class="details-value"> Value </span>
                    </li>
                    <li>
                        <span class="details-header">Body Focus: </span>
                        <span class="details-value"> Value </span>
                    </li>
                </ul>

            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-lg">Follow</button>
            </div>

        </div>


    </div>
    <section id="main-content">
        <div class="container-lg">
            <div class="row">
                <div class="col-xs-6">
                  <h1>4 Week FB Complete: A Customizable Workout Program for Beginner, Intermediate, and Advanced</h1>
                  <p>Coach: <span>Renrax</span></p>
                  <article>Lorem ipsum dolor sit amet
                       consectetur adipisicing elit.
                        Sunt expedita aliquam voluptatem laborum,
                         error, distinctio impedit eaque quidem,
                          vero ea doloremque dignissimos ipsa dolorem porro
                           dolores debitis velit corrupti nisi. Quae voluptas
                            corporis dignissimos pariatur! Consequuntur
                             nam eaque modi placeat tempore recusandae eos nisi at omnis dignissimos facere, itaque officia fugit. Fugiat nemo non consequuntur minus veritatis quaerat quasi, debitis natus porro, dolores eligendi quod incidunt voluptates. Consequatur vero ad ea voluptatem obcaecati quod pariatur harum officia quisquam debitis porro magnam tenetur architecto enim nobis mollitia nulla, voluptates, ipsum numquam inventore repudiandae ipsam, doloremque placeat cumque! Tempore deleniti fugit, labore optio ullam delectus vel maiores dignissimos asperiores numquam voluptate libero veniam laboriosam porro ducimus aspernatur perferendis beatae. At blanditiis, suscipit dignissimos magnam ducimus doloremque aliquid amet nam modi earum saepe harum, excepturi quibusdam laudantium animi maxime! Dignissimos modi eos, laudantium quo quod eaque facilis hic, itaque quae eligendi, officiis aspernatur!</article>
                </div>
            </div>
        </div>
    </section>


</div>