<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/" role="button">
                <!-- <i class="fab fa-facebook-f"></i> -->
                <img src="assets/images/facebook.png">
            </a>
            <!-- Twitter -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitter.com/" role="button">
                <!-- <i class="fab fa-twitter"></i> -->
                <img src="assets/images/twitter.png">
            </a>
            <!-- Instagram -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/" role="button">
                <!-- <i class="fab fa-instagram"></i > -->
                <img src="assets/images/instagram.png">
            </a>
            <!-- Youtube -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.youtube.com/" role="button">
                <!-- <i class="fab fa-github"></i> -->
                <img src="assets/images/youtube.png">
            </a>
            <!-- Linkedin -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.twitch.com/" role="button">
                <!-- <i class="fab fa-linkedin-in"></i> -->
                <img src="assets/images/twitch.png">
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text" href="https://github.com/rotteror">Ivan Vitanov </a><span>&#9734;</span>
    </div>
    <!-- Copyright -->
</footer>