button{
    background-color: black;
    color: white;
}
button:hover{
    background-color:  #fdbe33;
    color: black;
}

.list-group-item.list-group-item-action:hover{
    // background-color:black;
    // color: white;
    background-color:#4296cb;
}