<div class="team">
    <div class="section-header">
        <p>Our Team</p>
        <h2>Meet Our Trainers</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="../../../assets/images/Temple-logos_black.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn">Profile</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="../../../assets/images/Temple-logos_black.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn">Profile</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="../../../assets/images/Temple-logos_black.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn">Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>