<div class="team">
    <div class="section-header">
        <p>Our Team</p>
        <h2>Meet Our Trainers</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card style=height 550px">
                <img class="card-img-top" src="../../../assets/images/Temple-logos_black.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rotteror</h5>
                    <p class="card-text p-1">I’ve been in the fitness industry nearly 10 years now, working with people
                        change their habits and behaviours to live a happier and healthier life.</p>
                    <a routerLink="/profile/610983d4fc51bd31204007b7" class="btn">Profile</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card style=height 550px">
                <img class="card-img-top" src="../../../assets/images/Temple-logos_black.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Renrax</h5>
                    <p class="card-text">I have a degree in Applied Sport and Exercise Science. With 4 years+ experience
                        as a personal trainer I can get you to your goals and be supportive every step of the way.</p>
                    <a routerLink="/profile/610ab604f364d44320812ee8" class="btn">Profile</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card style=height 550px">
                <img class="card-img-top" src="../../../assets/images/Temple-logos_black.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">DCherypanova</h5>
                    <p class="card-text">I am a personal trainer and a sponsored toned figure athlete. However big or
                        small your goal is, I will give you the best support and guidance to achieve it together.</p>
                    <a routerLink="/profile/610ab73bf364d44320812ef3" class="btn">Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>