<div class="top-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="logo"> 
                        <h1 id="logoH1">Temple</h1>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 d-none d-lg-block">
                <div class="row">
                    <div class="col-6">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                            </div>
                            <div class="top-bar-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                            </div>
                            <div class="top-bar-text">
                                <p><span>
                                        <fa-icon [icon]="icons.faPhoneAlt" size="1x"></fa-icon>
                                    </span>+044 345 678 933</p>
                                <p><span>
                                        <fa-icon [icon]="icons.faEnvelope" size="1x"></fa-icon>
                                    </span>test@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-bar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="/home" class="nav-item nav-link">Home</a>
                    <a routerLink="/programs" class="nav-item nav-link">Programs</a>
                    <a routerLink="/trainers" class="nav-item nav-link">Trainers</a>
                    <a routerLink="/about" class="nav-item nav-link">About Us</a>
                </div>
                <div *ngIf="!isLogged" class="ml-auto">
                    <a class="btn" routerLink="/register">Register</a>
                    <a class="btn" routerLink="/login">Login</a>
                </div>
                <div *ngIf="isLogged" class="ml-auto">
                    <a class="btn" routerLink="/profile/">Profile</a>
                    <a class="btn" (click)="logoutHandler()">Logout</a>
                </div>
            </div>
            {{isLogged | json}}
        </nav>
    </div>
</div>