.top-bar {
    position: relative;
    height: 80px;
    background: #fdbe33;
    
}
.top-bar .logo h1 {
    margin: 0;
    color: #030f27;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    
}
//nav bar css
.nav-bar {
    position: relative;
    background: #fdbe33;
    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
    max-width: 1366px;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1366px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}
.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #fdbe33;
    transition: none;
}
.nav-bar .btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
}

.nav-bar .btn:hover {
    color: #030f27;
    background: #fdbe33;
    border-color: #fdbe33;
}

fa-icon{
    padding-right: 5px;
}
#logoH1{
    padding-bottom: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

a:hover{
    cursor: pointer;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }
    
    .nav-bar.nav-sticky {
        padding: 0;
    }
    
    .nav-bar .navbar {
        padding: 20px;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
}