<div class="container">
    <div class="row">
        <div class="title">
            <h4>Workout Programs</h4>
        </div>
    </div>
    <!-- Star Iterate loop here -->
    <div class="row mt-1">
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="followers">
                        <fa-icon [icon]="icons.faHeart" size="1x"></fa-icon> Followers:
                    </div>
                </div>
                <h5 class="mt-2">Be social - Sell your stock directly on instagram</h5><span
                    class="badge badge-danger py-1 mb-2">Marketing &amp; Sales</span><span class="d-block mb-5">Some
                    kind of short descriptions can go here to better recommend tasks.</span>
                <div class="d-flex justify-content-between stats">
                    <div>
                        <fa-icon [icon]="icons.faDumbbell" size="1x"></fa-icon><span class="ml-2"> Trainer: </span>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="followers">
                            <button class="btn btn-sm">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="followers">
                        <fa-icon [icon]="icons.faHeart" size="1x"></fa-icon> Followers:
                    </div>
                </div>
                <h5 class="mt-2">Be social - Sell your stock directly on instagram</h5><span
                    class="badge badge-danger py-1 mb-2">Marketing &amp; Sales</span><span class="d-block mb-5">Some
                    kind of short descriptions can go here to better recommend tasks.</span>
                <div class="d-flex justify-content-between stats">
                    <div>
                        <fa-icon [icon]="icons.faDumbbell" size="1x"></fa-icon><span class="ml-2"> Trainer: </span>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="followers">
                            <button class="btn btn-sm">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="followers">
                        <fa-icon [icon]="icons.faHeart" size="1x"></fa-icon> Followers:
                    </div>
                </div>
                <h5 class="mt-2">Be social - Sell your stock directly on instagram</h5><span
                    class="badge badge-danger py-1 mb-2">Marketing &amp; Sales</span><span class="d-block mb-5">Some
                    kind of short descriptions can go here to better recommend tasks.</span>
                <div class="d-flex justify-content-between stats">
                    <div>
                        <fa-icon [icon]="icons.faDumbbell" size="1x"></fa-icon><span class="ml-2"> Trainer: </span>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="followers">
                            <button class="btn btn-sm">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="followers">
                        <fa-icon [icon]="icons.faHeart" size="1x"></fa-icon> Followers:
                    </div>
                </div>
                <h5 class="mt-2">Be social - Sell your stock directly on instagram</h5><span
                    class="badge badge-danger py-1 mb-2">Marketing &amp; Sales</span><span class="d-block mb-5">Some
                    kind of short descriptions can go here to better recommend tasks.</span>
                <div class="d-flex justify-content-between stats">
                    <div>
                        <fa-icon [icon]="icons.faDumbbell" size="1x"></fa-icon><span class="ml-2"> Trainer: </span>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="followers">
                            <button class="btn btn-sm">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="followers">
                        <fa-icon [icon]="icons.faHeart" size="1x"></fa-icon> Followers:
                    </div>
                </div>
                <h5 class="mt-2">Be social - Sell your stock directly on instagram</h5><span
                    class="badge badge-danger py-1 mb-2">Marketing &amp; Sales</span><span class="d-block mb-5">Some
                    kind of short descriptions can go here to better recommend tasks.</span>
                <div class="d-flex justify-content-between stats">
                    <div>
                        <fa-icon [icon]="icons.faDumbbell" size="1x"></fa-icon><span class="ml-2"> Trainer: </span>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="followers">
                            <button class="btn btn-sm">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <div class="d-flex flex-row align-items-center">
                    <div class="followers">
                        <fa-icon [icon]="icons.faHeart" size="1x"></fa-icon> Followers:
                    </div>
                </div>
                <h5 class="mt-2">Be social - Sell your stock directly on instagram</h5><span
                    class="badge badge-danger py-1 mb-2">Marketing &amp; Sales</span><span class="d-block mb-5">Some
                    kind of short descriptions can go here to better recommend tasks.</span>
                <div class="d-flex justify-content-between stats">
                    <div>
                        <fa-icon [icon]="icons.faDumbbell" size="1x"></fa-icon><span class="ml-2"> Trainer: </span>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="followers">
                            <button class="btn btn-sm">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- End of ROW-MT1 -->
    </div>
</div>