<div class="container" *ngIf="programs">
    <div class="row">
        <div class="title">
            <h4>Workout Programs</h4>
        </div>
    </div>
    <!-- Star Iterate loop here -->
    <div class="row mt-1">
        <div class="col-md-4" *ngFor="let program of programs">
            <div class="p-card bg-white p-2 rounded px-3 style=height 370px">
                <div class="d-flex flex-row align-items-center">
                    <div class="followers">
                        <fa-icon [icon]="icons.faHeart" size="1x"></fa-icon> Followers: {{program.followers.length}}
                    </div>
                </div>
                <h5 class="mt-2">{{program.title}}</h5>
                <span class="d-block mb-5">
                    {{program.description.substring(0,200).trim()+"..."}}
                </span>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center float-start">
                        <fa-icon [icon]="icons.faDumbbell" size="1x"></fa-icon><span id="trainerName" class="ml-2 mb-1">
                            Coach: {{program.owner.username}}
                        </span>
                    </div>
                    <div class="d-flex align-items-end">
                        <div class="details">
                            <button class="btn btn-sm" [routerLink]="['/programs', program._id]">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of ROW-MT1 -->
    </div>
</div>

<div class="container" *ngIf="!programs">
    <div class="row">
        <div class="title">
            <h4>No programs listed yet. Be the first post first program</h4>
            <button class="btn btn-sm" routerLink="/add-program">Post</button>
        </div>
    </div>
</div>