<div class="container">
  <span class="title">
    <h2>Create New Program:</h2>
  </span>
  <form [formGroup]="formPost" (ngSubmit)="postProgramHandler()">

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="Title">Title</label>
          <input type="text" id="Title" class="form-control" placeholder="Get Fit in 40 days" formControlName="title">
        </div>
      </div>
      <!-- Validations -->
      <ng-container *ngIf="formPost.get('title')?.touched">
        <p *ngIf="formPost.get('title')?.errors?.required" class="error p-2">
          Title is required
        </p>
        <p *ngIf="formPost.get('title')?.errors?.minlength" class="error">
          Title should be at least 30 characters!
        </p>
      </ng-container>
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="length">Length</label>
          <input type="text" id="length" class="form-control" placeholder="1 week, 1 month ..."
            formControlName="length">
        </div>
      </div>
    </div>
    <!-- Validations -->
    <ng-container *ngIf="formPost.get('length')?.touched">
      <p *ngIf="formPost.get('length')?.errors?.required" class="error">
        Length is required
      </p>
    </ng-container>

    <div class="form-outline mb-4">
      <label class="form-label" for="bodyFocus">Body Focus</label>
      <input type="text" id="bodyFocus" class="form-control" placeholder="Full Body" formControlName="bodyFocus">
    </div>
    <!-- Validations -->
    <ng-container *ngIf="formPost.get('bodyFocus')?.touched">
      <p *ngIf="formPost.get('bodyFocus')?.errors?.required" class="error">
        BodyFocus is required
      </p>
    </ng-container>

    <div class="form-outline mb-4">
      <label class="form-label" for="avgDuration">Average Duration</label>
      <input type="text" id="avgDuration" class="form-control" placeholder="30 min" formControlName="averageDuration">
    </div>
    <ng-container *ngIf="formPost.get('averageDuration')?.touched">
      <p *ngIf="formPost.get('averageDuration')?.errors?.required" class="error">
        Average Duration is required
      </p>
    </ng-container>

    <div class="form-outline mb-4">
      <label class="form-label" for="daysPerWeek">Days Per Week</label>
      <input type="text" id="daysPerWeek" class="form-control" placeholder="4 days" formControlName="daysPerWeek">
    </div>
    <!-- Validations -->
    <ng-container *ngIf="formPost.get('daysPerWeek')?.touched">
      <p *ngIf="formPost.get('daysPerWeek')?.errors?.required" class="error">
        Days Per Week is required
      </p>
    </ng-container>

    <!-- Description input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="description">Description</label>
      <textarea class="form-control" id="description" cols="20" rows="10" formControlName="description"></textarea>
    </div>

    <!-- Counter description -->
    <div>
      <small class="counter">{{formPost.value?.description?.length}}</small>
    </div>
    <!-- Validations -->
    <ng-container *ngIf="formPost.get('description')?.touched">
      <p *ngIf="formPost.get('description')?.errors?.required" class="error">
        Description is required
      </p>
      <p *ngIf="formPost.get('description')?.errors?.maxlength" class="error">
        Description should be no more than 1000 characters!
      </p>
    </ng-container>

    <!-- Submit button -->
    <button class="btn btn-dark text-center" [disabled]="formPost.invalid">Post program</button>
    <button id="cancelPost" class="btn btn-dark text-center" (click)="cancelPostHandler()">Cancel</button>
  </form>
</div>