.feature {
    position: relative;
    margin-bottom: 45px;
}

.feature .col-md-12 {
    background: white;
}

.feature .col-md-12:nth-child(2n) {
    color: #030f27;
    background: #fdbe33;
}

.feature .feature-item {
    min-height: 250px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}